<div class="banner" nz-row nzType="flex" nzAlign="middle"></div>
<div class="title1" nz-row nzType="flex" nzAlign="middle"></div>
<div nz-row nzType="flex" nzAlign="middle">
  <div class="introduceInfo" nz-col nzSpan="16" nzOffset="4">
    <p>哈尔滨医克拉医疗咨询服务有限公司成立于2016年03月07日，是一家由大学生创立的集医疗服务咨询；美容信息咨询服务；教育信息咨询服务；计算机软硬件技术开发；技术咨询、服务；企业管理咨询；接受委托从事市场调研于一体的服务类公司。
    </p>
    <p>
      公司秉承着<span>“让优质服务走向大众”</span>的服务理念致力于推进黑龙江医疗服务的发展。医疗服务作为一种服务类产品，具有多种特性。科学、全面、准确地分析医疗服务产品的特性，并据此对医疗服务进行设计、提供、控制与评价，对于完善医疗服务质量管理工作，为消费者供优质医疗服务具有深远的意义。实现线上预约咨询和线下服务的全覆盖。开拓新的移动医疗服务领域,并向全国市场发展，居于同类医疗社区服务市场的领先水平。
    </p>
    <p>医克拉<span>“社区医疗资源链接平台”</span>，平行对接各目标客户，将第三方医疗机构或三甲医院的专业门诊信息化，真正实现上级医院与下级医院联动，解决看病难，看病贵的难题，并针对需要医疗咨询等业务的客户进行服务。
    </p>
    <p>曾获第一届互联网+黑龙江省银奖、第三节互联网+黑龙江省金奖、国赛铜奖、最受欢迎项目、邮政杯创业大赛金奖。</p>
    <p>随着医改的逐步深入，医疗卫生信息化的建设步伐也在不断加快。日前，就医疗卫生信息化建设问题，中国信息协会副秘书长王砥指出，推进医疗卫生信息化建设的关键是制定统一的
      信息技术标准，确保各种信息流在不同层级、不同部门间的顺利流动，并在此基础上整合提升各地分散的信息系统。</p>
  </div>
</div>
<div class="title2" nz-row nzType="flex" nzAlign="middle">
  <div nz-col nzSpan="2" nzOffset="6">
    销售经理
  </div>
  <div nz-col nzSpan="2">
    销售经理
  </div>
  <div nz-col nzSpan="2">
    销售经理
  </div>
  <div nz-col nzSpan="2">
    销售经理
  </div>
  <div nz-col nzSpan="2">
    销售经理
  </div>
  <div nz-col nzSpan="2">
    销售经理
  </div>
</div>